@charset "UTF-8";
/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  -o-object-fit: cover;
     object-fit: cover;
  /* (Opcional) */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* (Opcional) */
  -webkit-hyphens: auto;
          hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  background-color: #184C99;
  padding-right: 10rem;
  padding-left: 10rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.header__brand {
  margin-right: 2.5rem;
  color: white;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.1px;
}
.header__menu {
  display: flex;
  align-items: center;
  flex: 1;
}
.header__menu ul {
  flex: 70;
  display: flex;
  color: white;
}
.header__menu ul li {
  text-align: center;
  padding: 0.25rem 1rem;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.2px;
}
.header__menu__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 30;
  gap: 1rem;
}

.button-joinus, .button-learmore {
  width: 8rem;
  text-align: center;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  background: #23A6F0;
  color: white;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.2px;
}

.button-login {
  padding: 1rem 1.5rem;
  color: #23A6F0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.2px;
}

.button-learmore {
  width: 10rem;
  background-color: #184C99;
  border: 1px solid #23A6F0;
}

.hero {
  display: flex;
  background-color: #184C99;
  justify-content: center;
  align-items: center;
}
.hero .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 1rem;
}
.hero .hero-content__tag {
  margin-top: 2.5rem;
  color: #23A6F0;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.1px;
}
.hero .hero-content__headline {
  width: 90%;
  color: white;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: 0.2px;
}
.hero .hero-content__description {
  width: 60%;
  color: white;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0.2px;
  text-align: center;
}
.hero .hero-content__buttons {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  align-items: center;
}

.course-statistics {
  padding: 10rem 0rem;
  margin: 0rem 12.1875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.course-statistics .statistics-card {
  display: flex;
  gap: 1.875rem;
  justify-content: center;
  justify-content: flex-start;
}
.course-statistics .statistics-card .statistic-card {
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
  padding: 2.1875rem 2.5rem;
  width: 20rem;
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.course-statistics .statistics-card .statistic-card__image {
  border-radius: 0.625rem;
  background-color: #E74040;
  padding: 1.375rem 1.1875rem;
}
.course-statistics .statistics-card .statistic-card__title {
  color: #252B42;
  width: 9rem;
  text-align: center;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  /* 150% */
  letter-spacing: 0.00625rem;
}
.course-statistics .statistics-card .statistic-card .container-separator .separator {
  width: 3rem;
  height: 0.12rem;
  background-color: #E74040;
}
.course-statistics .statistics-card .statistic-card__description {
  color: 737373;
  width: 8.5rem;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  /* 142.857% */
  letter-spacing: 0.0125rem;
  text-align: center;
}

.main-content {
  width: 43rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.main-content__tag {
  color: #23A6F0;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  /* 171.429% */
  letter-spacing: 0.0125rem;
}
.main-content__headline {
  color: #252B42;
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.125rem;
  /* 125% */
  letter-spacing: 0.0125rem;
}
.main-content__description {
  color: #737373;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  /* 142.857% */
  letter-spacing: 0.0125rem;
  max-width: 29rem;
}

.container-courses {
  background-color: white;
  padding: 0rem 12.1875rem 1.5rem 12.1875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
.container-courses .courses {
  width: 65.625rem;
  gap: 0.9375rem;
  display: flex;
  justify-content: center;
}
.container-courses .courses .course-card {
  background-color: #FFF;
  width: 21rem;
}
.container-courses .courses .course-card__image {
  height: 18.75rem;
  width: auto;
}
.container-courses .courses .course-card__image img {
  height: 100%;
}
.container-courses .courses .course-card .course-card-info {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding: 1.5625rem 1.5625rem 2.1875rem 1.5625rem;
}
.container-courses .courses .course-card .course-card-info__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-courses .courses .course-card .course-card-info__header p {
  color: #23A6F0;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  /* 171.429% */
  letter-spacing: 0.0125rem;
}
.container-courses .courses .course-card .course-card-info__valoration {
  display: flex;
  padding: 0.3125rem;
  gap: 0.3125rem;
  border-radius: 1.25rem;
  background-color: #252B42;
}
.container-courses .courses .course-card .course-card-info__valoration p {
  color: #FFF;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  /* 133.333% */
  letter-spacing: 0.0125rem;
}
.container-courses .courses .course-card .course-card-info__title {
  color: #252B42;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  /* 150% */
  letter-spacing: 0.00625rem;
}
.container-courses .courses .course-card .course-card-info__description {
  color: #737373;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  /* 142.857% */
  letter-spacing: 0.0125rem;
}
.container-courses .courses .course-card .course-card-info__sales {
  display: flex;
  gap: 0.625rem;
  align-items: center;
}
.container-courses .courses .course-card .course-card-info__sales h6 {
  color: #737373;
  /* h6 */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  /* 171.429% */
  letter-spacing: 0.0125rem;
}
.container-courses .courses .course-card .course-card-info__prices {
  display: flex;
  padding: 0.3125rem 0.1875rem;
  align-items: flex-start;
  gap: 0.3125rem;
}
.container-courses .courses .course-card .course-card-info__prices .price, .container-courses .courses .course-card .course-card-info__prices .price--green {
  color: #BDBDBD;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  /* 150% */
  letter-spacing: 0.00625rem;
}
.container-courses .courses .course-card .course-card-info__prices .price--green {
  color: #40BB15;
}
.container-courses .courses .course-card .course-card-info__details {
  display: flex;
  padding: 0.9375rem 0rem;
  align-items: center;
  justify-content: space-between;
}
.container-courses .courses .course-card .course-card-info__details .course-card-info__detail {
  display: flex;
  gap: 0.3125rem;
}
.container-courses .courses .course-card .course-card-info__details .course-card-info__detail p {
  color: #737373;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  /* 133.333% */
  letter-spacing: 0.0125rem;
}
.container-courses .courses .course-card .button-learmorecourse {
  width: 8.82rem;
  padding: 0.625rem 1.25rem;
  display: inline-flex;
  justify-content: center;
  gap: 0.625rem;
  border-radius: 2.3125rem;
  border: 1px solid #23A6F0;
  align-items: center;
}
.container-courses .courses .course-card .button-learmorecourse :nth-child(1) {
  color: #23A6F0;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  /* 171.429% */
  letter-spacing: 0.0125rem;
}

.container-testimonials {
  padding: 10rem 12.1875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}
.container-testimonials .testimonials {
  display: flex;
  gap: 0.9375rem;
}
.container-testimonials .testimonials .card-testimonial {
  padding: 1.5625rem 1.5625rem 0rem 1.5625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 31.3125rem;
  gap: 0.9375rem;
}
.container-testimonials .testimonials .card-testimonial__image {
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  border-radius: 12.5rem;
}
.container-testimonials .testimonials .card-testimonial__description {
  width: 9.9375rem;
  text-align: center;
  color: #737373;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  /* 142.857% */
  letter-spacing: 0.0125rem;
}
.container-testimonials .testimonials .card-testimonial__stars {
  display: inline-flex;
}
.container-testimonials .testimonials .card-testimonial__userinfo {
  padding: 0rem 1.5625rem;
  text-align: center;
}
.container-testimonials .testimonials .card-testimonial__userinfo h5 {
  color: #252B42;
  text-align: center;
  /* h5 */
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  /* 150% */
  letter-spacing: 0.00625rem;
}
.container-testimonials .testimonials .card-testimonial__userinfo h6 {
  color: #737373;
  text-align: center;
  /* h6 */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  /* 171.429% */
  letter-spacing: 0.0125rem;
  margin-top: 0.3125rem;
}

.container-newsletter {
  padding: 10rem 12.1875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.container-newsletter .newsletter {
  width: 43rem;
}
.container-newsletter .newsletter .form {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 0.3125rem;
  border: 1px solid #E6E6E6;
  background: #F9F9F9;
}
.container-newsletter .newsletter .form .inputemail {
  padding-left: 1rem;
  flex: 80%;
  border-radius: 0.3125rem;
  border: 1px solid #E6E6E6;
  background: #F9F9F9;
  color: #737373;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  /* 200% */
  letter-spacing: 0.0125rem;
}
.container-newsletter .newsletter .form .button-subscribe {
  flex: 20%;
  border-radius: 0rem 0.3125rem 0.3125rem 0rem;
  border: 1px solid #E6E6E6;
  background: #23A6F0;
  padding: 0.9375rem 1.40625rem;
  color: #FFF;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  /* 200% */
  letter-spacing: 0.0125rem;
}

.footer {
  background-color: #252B42;
  padding: 0rem 12.1875rem;
}
.footer .container-footer {
  padding: 5rem 0rem;
  display: flex;
  gap: 1.875rem;
  width: 65.375rem;
  max-width: 100%;
  align-items: flex-start;
}
.footer .container-footer .colum-med {
  flex: 1;
}
.footer .container-footer .colum-med > * + * {
  margin-top: 1.5625rem;
}
.footer .container-footer .colum-med__title {
  color: #FFF;
  /* h3 */
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  /* 133.333% */
  letter-spacing: 0.00625rem;
}
.footer .container-footer .colum-med__list .list-socials {
  margin-top: 1.5625rem;
  display: inline-flex;
  gap: 1.25rem;
}
.footer .container-footer .colum-med__list li {
  margin-top: 0.625rem;
  color: #FFF;
  /* link */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  /* 171.429% */
  letter-spacing: 0.0125rem;
}
.footer .container-footer .colum-med__list li p {
  color: #FFF;
  /* paragraph */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  /* 142.857% */
  letter-spacing: 0.0125rem;
}/*# sourceMappingURL=index.css.map */